* {
  font-family: "Hack Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 0px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  text-shadow: inherit;
 /* box-shadow: inset 0 0px #000000;*/
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  color: #bee8ff;
}

#network:hover {
  color: #bee8ff;
}

#temperature:hover {
  color: #bee8ff;
}

#battery:hover {
  color: #bee8ff;
}

#clock:hover {
  color: #bee8ff;
}


#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ced7dc;
}


#workspaces button:hover {
  background-color: #bee8ff;
  color: #171a1f;
}

#workspaces button.active:hover {
  background-color: #bee8ff;
  color: #171a1f;
  font-weight: bold;
}

#workspaces button.urgent:hover {
  background-color: #ff595c;
  color: #171a1f;
}

#workspaces button.focused {
  background-color: #292f38;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
  font-weight: bold;
  color: #bee8ff;
}

#workspaces button.urgent {
  color: #ff595c;
  font-weight: bold;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: #e5eff5;
  font-weight: bold;
}

#network {
  color: #e5eff5;
  font-weight: bold;
}

#temperature {
  color: #e5eff5;
  font-weight: bold;
}

#battery {
  color: #e5eff5;
  font-weight: bold;
}

#clock {
  color: #e5eff5;
  font-weight: bold;
}

#window {
  color: #e5eff5;
  font-weight: bold;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: #292f38;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 10px;
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  background-color: #292f38;
  color: #d5ffa6;
  font-weight: bold;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #ff595c;
  color: #e5eff5;
  font-weight: bold;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning{
  background-color: #292f38;
  color: #fbd0ac;
  font-weight: bold;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: #ced7dc;
}
