* {
	border-radius: 15px;
	border: none;
}

window {
	font-size: 20px;
	font-family: "Hack Nerd Font";
        font-weight: bold;
	background-color: #171a1f;
	color: #ced7dc;
	border: 2px solid #bee8ff;
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	background-color: #bee8ff;
	color: #171a1f;
        border: none;
        border-radius: 0px;
}

#text:selected {
	color: #171a1f;
}

#input {
	background-color: #171a1f;
        color: #ced7dc;
	padding: 0.25em;
	border: 2px solid #bee8ff;
}
